# Copy this file to '.env' and fill in your actual passwords
DB_SERVER=sql-edge
DB_NAME=TelemetryDb
DB_USER=sa
DB_PASSWORD=InsertYourSecurePasswordHere

DOCKER_DB_PASSWORD=InsertYourDockerPasswordHere

ASPNETCORE_ENVIRONMENT=Development